@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-color: #b28756;
    --button-hover-color: #b08050;
}

body {
    font-size: 13px;
    overflow-x: hidden;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

header {
    height: 100px;
    background-color: #000;
}

.header-container {
    margin: auto;
    display: flex;
    height: 100px;
    max-width: 1140px;
    align-items: center;
}

.logo-container {
    width: 100px;
}

.logoImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg img:hover {
    cursor: pointer;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu-opener {
    display: none;
}

.menu ul {
    gap: 20px;
    display: flex;
}

.menu li a {
    height: 100px;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    color: #ccc;
    border-bottom: 5px solid var(--default-color);
}

.banner {
    overflow: hidden;
    background-size: cover;
    background-color: #333;
    background-position: bottom;
    height: calc(100vh - 100px); /* -100px header */
    background-image: url(../images/bg.jpg);
}

.banner .sliders {
    height: 100%;
    width: 1000vw; /* suporta até 10 slide */
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.banner h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.banner h1 span {
    color: var(--default-color);
}

.banner h2 {
    margin-top: 10px;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 45px;
    padding: 13px 40px;
    border-radius: 20px;
    color: #fff;
    background-color: var(--default-color);
}

.button:hover {
    background-color: var(--button-hover-color);
}

.banner .sliders-pointers {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    height: 20px;
    margin-top: -50px;
    color: #fff;
}

.banner .pointer {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--default-color);
}

.banner .pointer.active {
    background-color: var(--default-color);
}

.default {
    padding: 50px 0px;
}

.default .section-body {
    margin: auto;
    max-width: 1140px;
}

.default .section-title {
    font-size: 26px;
}

.default .section-desc {
    font-size: 14px;
    margin: 13px 0px 55px;
    color: #ccc;
}

.default .section-title,
.default .section-desc {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}


/* Especific area CSS */

.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right {
    width: 520px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    padding: 10px 45px;
    border-right: 2px solid #444;
}

.section-service:first-child {
    border-left: 2px solid #444;
}

.section-service h4 {
    font-size: 18px;
    margin-top: 25px;
    text-transform: uppercase;
}

.section-service p {
    font-size: 13px;
    margin-top: 10px;
    line-height: 25px;
    color: #999;
}

.section-projects {
    text-align: center;
}

.section-projects--filters {
    display: inline-block;
    padding: 0px 40px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #eee;
}

.section-projects--filters li {
    padding: 20px;
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    color: #555;
    border-right: 1px solid #ccc;
    border-bottom: 4px solid #eee;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    cursor: pointer;
    border-bottom: 4px solid var(--default-color);
}

.section-projects--filters li:last-child {
    border-right: none;
}

.section-projects--photos {
    width: 100vw;
    margin-top: 25px;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    display: none;
    width: inherit;
    height: inherit;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section-projects--photoinfo p {
    font-size: 14px;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
    cursor: pointer;
}

.bg-team {
    padding: 0;
    background-size: cover;
    background-position: center;
    background-image: url(../images/bg.jpg);
}

.section-team--area {
    padding: 60px 0px 25px;
    background-color: rgba(0, 0, 0, 0.8);
}

.section-team {
    margin: auto;
    overflow: hidden;
    max-width: 880px;
}

.section-team .sliders {
    height: 100%;
    width: 1000vw; /* suporta até 10 slide */
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    margin-right: 20px;
    display: inline-block;
    background-color: #fff;
}

.section-team .slidearea {
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #000;
}

.section-team--area .sliders-pointers {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    margin-top: 50px;
}

.section-team--area .pointer {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--default-color);
}

.section-team--area .pointer.active {
    background-color: var(--default-color);
}

.section-team--image {
    width: 150px;
    height: auto;
}

.section-team--persoName {
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 30px;
    font-weight: 600;
}

.section-team--profession {
    font-size: 12px;
    margin-top: 5px;
    color: #999;
}

.section-team--social {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
}

.section-team--social a:hover {
    background-color: var(--default-color);
}

.default.light {
    background-color: #F7F7F7;
}

.section-feedbacks {
    overflow: hidden;
}

.section-feedbacks .sliders {
    height: 100%;
    display: flex;
}

.section-feedbacks .slide {
    width: 100vw;
    height: 100%;
}

.section-feedbacks .slidearea {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section-feedbacks--image {
    width: 120px;
}

.section-feedbacks--persoName {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.section-feedbacks--profession {
    font-weight: 600;
}

.section-feedbacks--feedbackImage {
    width: 20px;
    margin-top: 30px;
}

.section-feedbacks--feedback {
    font-size: 13px;
    max-width: 700px;
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
    color: #555;
}

.section-feedbacks .sliders-pointers {
    gap: 10px;
    height: 50px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-feedbacks .pointer {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--default-color);
}

.section-feedbacks .pointer.active {
    background-color: var(--default-color);
}

.section-companies {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.section-companies--area {
    display: flex;
    align-items: center;
}

.section-company {
    flex: 1;
    text-align: center;
}

.section-price {
    gap: 20px;
    display: flex;
}

.section-price--area {
    gap: 8px;
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.section-price--item-name {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-price--item-money {
    font-size: 32px;
    margin-top: 10px;
    font-weight: bold;
}

.section-price--item-period {
    font-size: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #888;
}

.section-price--item-point {
    font-size: 12px;
}

.button.button-dark {
    background-color: #000;
}

.button.button-dark:hover {
    background-color: var(--default-color);
}

#div-bar {
    width: 12px;
    height: 1px;
    background-color: #000;
}

.default.premium {
    background-color: #fff;
}

.section-premium {
    text-align: center;
}

.section-premium .slide,
.section-premium .slidearea {
    height: 100%;
    width: 100vw;
}

.section-premium .slide {
    display: inline-block;
}

.section-premium .slidearea {
    max-width: 1140px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #ccc;
}

.section-premium--left {
    flex: 1;
    text-align: right;
}

.section-premium--left img {
    width: 350px;
    margin-right: 70px;
}

.section-premium--right {
    flex: 1;
}

.section-premium--item {
    display: flex;
    margin-bottom: 20px;
    max-width: 550px;
}

.section-premium--item img {
    width: auto;
    height: 28px;
    margin-right: 20px;
}

.section-premium--item div {
    flex: 1;
    color: #999;
    line-height: 20px;
    text-align: justify;
}

.section-premium--item div h4 {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-premium .sliders-pointers {
    gap: 10px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-premium .pointer {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--default-color);
}

.section-premium .pointer.active {
    background-color: var(--default-color);
}

.section-premium .button {
    margin-top: 24px;
}

.section-facts {
    display: flex;
}

.section-fact {
    flex: 1;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section-fact h3 {
    font-size: 40px;
    color: var(--default-color);
}

.section-fact--line {
    width: 15px;
    margin: 4px auto;
    border-bottom: 2px solid #999;
}

.section-fact h4 {
    font-size: 16px;
    max-width: 158px;
    margin: 4px 0px 15px;
    text-transform: uppercase;
}

.section-fact p {
    font-size: 12px;
    max-width: 180px;
}

.section-share {
    gap: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #C7C7C7;
    border-bottom: 1px solid #ddd;
}

.section-share--aboutUs img {
    cursor: pointer;
    margin-right: 10px;
}

.section-share--aboutUs {
    display: flex;
    font-size: 10px;
    margin-right: 20px;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
}

.section-share--item {
    display: flex;
    cursor: pointer;
    font-size: 8px;
    font-weight: 600;
    align-items: center;
}

.section-share--icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.section-share--icon img {
    height: 12px;
}

.section-share--icon.twitter {
    background-color: #34c5f0;
}

.section-share--icon.linkedin {
    background-color: #117CB6;
}

.section-share--icon.facebook {
    background-color: #336295;
}

.section-share--icon.googleplus {
    background-color: #E74239;
}

.section-share--icon.pinterest {
    background-color: #B81D29;
}

.section-contactUs {
    margin: auto;
    max-width: 550px;
    text-align: center;
}

.section-contactUs--nameEmail {
    gap: 25px;
    display: flex;
}

.section-contactUs input[type=text],
.section-contactUs input[type=email], 
.section-contactUs textarea {
    border: 0;
    outline: 0;
    width: 100%;
    height: 40px;
    display: block;
    font-size: 12px;
    margin-top: 10px;
    color: #B5B5B5;
    background: transparent;
    border-bottom: 2px solid #CCC;
}

.section-contactUs textarea {
    resize:none;
    font-size: 14px;
    margin-top: 30px;
}

.section-contactUs input::placeholder,
.section-contactUs textarea::placeholder {
    color: #B5B5B5;
}

.section-map {
    padding: 30px 0px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/mapa.jpg);
}

.section-map--area {
    width: 100vw;
    margin: auto;
    max-width: 1140px;
}

.section-map--info {
    width: 50%;
    padding: 30px;
    color: #000;
    background-color: #fff;
}

.section-map--info-item {
    gap: 15px;
    display: flex;
    color: #AEAEAE;
    align-items: center;
    margin-bottom: 15px;
}

.section-map--info-item:last-child {
    margin-bottom: 0;
}

.section-map--info-item-img {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-color: #AEAEAE;
}

.section-map--info-item-img img {
    width: 15px;
    height: auto;
}

footer {
    padding: 30px;
    background-color: #000;
}

.footer-area {
    margin: auto;
    color: #fff;
    display: flex;
    max-width: 1140px;
}

.footer-item {
    flex: 1;
}

.footer-social {
    gap: 10px;
    display: flex;
}

.footer-social img {
    height: 13px;
}

.footer-social a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #373737;
}

.footer-social a:hover {
    background-color: var(--default-color);
}

.footer-item.area2 {
    color: #999;
    font-size: 12px;
    line-height: 20px;
    margin-right: 20px;
    padding: 0 10px 10px 10px;
}

.footer-item.area2 {
    line-height: 23px;
}

.footer-item.area3 form {
    padding: 40px;
    text-align: center;
    background-color: #373737;
}

.footer-item.area3 input {
    border: 0;
    outline: 0;
    width: 70%;
    font-size: 14px;
    color: #B5B5B5;
    text-align: center;
    padding-bottom: 10px;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}

.footer-item.area3 input::placeholder {
    color: #9d9d9d;
}